#map{
  position: relative;
  margin-top: 14px;
  height: 73%;
  width: 100%;
  border-radius: 10px;
}

html, body{
  height: 100%;
  width: 100%;
  padding: 5;
}

/* for smaller screens */
@media screen and (max-width:768px){
  #map{
    visibility: collapse;
  }

  #jumbo {
    position: inherit;
  }
}
/* rounding the card */
div.card {
  border-radius: 10px;
}

/* elevation and shadow */
div.card:hover, .jumbotron{
  box-shadow: 0 2px 2px 0 grey,
             0 3px 1px -2px grey,
             0 1px 5px 0 grey;
}

/* rounding the image in card so that it matches the card boundaries */
img.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* model's shadow */
div.modal {
  box-shadow: 0  9px 46px  8px #333,
              0 11px 15px -7px #333,
              0 24px 38px  3px #333;
}

/* info card initially hidden */
div#expandDiv {
  display: none;
}

/* short description card on map */
#map-card{
  position : absolute;
  top: 20px;
  left: 20px;
  border-radius: 0;
  display: none;

  box-shadow: 0 2px 2px 0 grey,
             0 3px 1px -2px grey,
             0 1px 5px 0 grey;

  border-radius: 8px;
}

/* body of short description card */
#mCard-body{
  position: relative;
  top:-10px;
}

/* get directions icon */
#dir-icon {
  position: absolute;
  max-width: 35px;
  max-height: 35px;
  right: 20px;
  }

#dir-icon:hover{
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 grey,
             0 1.5px 0.5px -1px grey,
             0 0.5px 2.5px 0 grey;
}
