#map{
  margin-top: 14px;
  height: 73%;
  width: 100%;
  border-radius: 10px;
}

html, body{
  height: 100%;
  width: 100%;
  padding: 5;
}

/* for smaller screens */
@media screen and (max-width:768px){
  #map{
    visibility: collapse;
  }

  #jumbo {
    position: inherit;
  }
}

/* initial display of text fields inside card */
#qm, #lt, #ig, #ht, #rf, #ad {
  display: visible;
}

/* rounding the card */
div.card {
  border-radius: 10px;
}

/* elevation and shadow */
div.card:hover, .jumbotron{
  box-shadow: 0 2px 2px 0 grey,
             0 3px 1px -2px grey,
             0 1px 5px 0 grey;
}

/* rounding the image in card so that it matches the card boundaries */
img.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* model's shadow */
div.modal {
  box-shadow: 0  9px 46px  8px #333,
              0 11px 15px -7px #333,
              0 24px 38px  3px #333;
}
